extends ../layout

block content
    .container-sm.border.my-5
        .container-sm.my-4
            h1 Add a Genre
            form(action="/genres/add-genre", method="post") 
                .mb-3.fs-5
                    label.form-label(for='id') Name
                    input#exampleInputEmail1.form-control(type='text', name='name')
                
                button.btn.btn-primary(type="submit") Send 
                    