extends layout

block content
    .container-fluid
        h1 List Books
            table.table.table-striped.fs-6
                thead 
                    tr 
                        th(scope="col") ID 
                        th(scope="col") Title 
                        th(scope="col") Author
                tbody
                    each book in books
                        tr 
                            th(scope="row")= book.id
                            th(scope="row")= book.title
                            th(scope="row")= book.author